<!-- <h1>Hello {{title}}</h1> -->

<!-- /////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////    Chapter-1_3    //////////////////////////////////////// -->
<!-- <app-dyma></app-dyma>
<hr>
<app-dyma2></app-dyma2>
<hr>
<app-dyma3></app-dyma3>
<hr>
<app-dyma4></app-dyma4>
<hr> -->
<!-- <app-dyma5 (click)="test()" class="test"></app-dyma5>
<hr> -->
<!-- <app-dyma5></app-dyma5>
<hr> -->

<!-- /////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////    Chapter-4    //////////////////////////////////////// -->

<!-- <app-parent></app-parent> -->


<!-- /////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////    Chapter-6    //////////////////////////////////////// -->
<!-- <p> &#64;if instruction</p>
 <app-dyma6-1/>
 <hr>
 <p> &#64;switch instruction</p>
 <app-dyma6-2/>
 <hr>
 <p> &#64;for instruction</p>
 <app-dyma6-3/>
 <hr>
 <p> &#64;let instruction</p>
 <app-dyma6-4/> -->

<!-- /////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////    Chapter-7    //////////////////////////////////////// -->
<!-- <p> les signals </p>
<app-dyma7-1 />
<hr>
<p> computed </p>
<app-dyma7-2 />
<hr>
<p> effect </p>
<app-dyma7-3 /> -->

<!-- ///////////////////////    Chapter-7-4    //////////////////////////////////////// -->
<!-- <hr>
<p> linkedSignal </p> 
<app-dyma7-4 />  -->

<!-- ///////////////////////    Chapter-9    //////////////////////////////////////// -->

<!-- <app-dyma9-1 /> -->

<!-- <app-dyma9-2 /> -->

<!-- <app-dyma9-3 /> -->

<!-- <app-dyma9-4 /> -->

<!-- <app-dyma9-5 /> -->

<!-- ///////////////////////    Chapter-11    //////////////////////////////////////// -->

<!-- <app-dyma-11-2 /> -->

<!-- <app-dyma-11-3 /> -->


<!-- ///////////////////////    Chapter-12    //////////////////////////////////////// -->

<!-- <app-dyma-12-1 /> -->

<app-dyma-12-5 />